################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/AuthGoggleUMG/DesignTimeBuild
.vs/
/.vs/
/AuthGoggleUMG/bin/
bin/
obj/
/AuthGoggleUMG/obj/
